@tailwind base;
h1 {
  @apply text-4xl font-bold;
}
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --light-color: #fff;
  --dark-color: #22292f;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.animated-text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, #503556, #a876ad, #e5c5e0);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  animation: gradientAnimation 2s linear infinite;
}

.animate-delay-2 {
  animation-delay: 2s;
}

.animate-delay-4 {
  animation-delay: 4s;
}
